.main-section{
  display: flex;
  justify-content: center;
  align-items: center;
}

span{
  font-size: 20px;
  font-weight: 700px;

}

h1{
  font-family: "Sora", sans-serif;
  font-size: 60px;
  font-weight: 900px;
  color: rgb(0, 23, 72);
}

h2{
  font-family: "Sora", sans-serif;
  font-size: 24px;
  font-weight: 80px;
  color: rgb(59, 59, 59);
}

@media (min-width: 1080px){
  .main-section {
    flex-direction: row;
  }
}
